@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container{
    font-size: 1.5rem;
}
.post-content h1{
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    margin: 1.5rem 0;
    text-align: center;
}
.post-content h2{
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    margin: 1.5rem 0;
}
.post-content h3{
    font-size: 1.17em;
    font-family: sans-serif;
    margin: 1.5rem 0;
    font-weight: bold;
}
.post-content p{
    margin: 0.5rem 0;
}
.post-content a{
    color: rgb(73, 149, 199);
}
.dark .post-content a{
    color: red;
}
.post-content a:hover{
  text-decoration: underline;
}
.post-content ol{
    list-style: decimal;
}
.post-content ul{
    list-style: disc;
}